* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    text-align: center;
  }

.msgDisplay{
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .boardGrid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    padding: 4rem;
        
  }

  .square{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: 1px solid black;
    gap:1rem;
    font-size: 3rem;
    
    

  }